@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Inter:wght@400;500;600&family=Montserrat:ital,wght@1,800&family=Teko:wght@600&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    background-color:#1F1517;
    color:#FFFFFF;
}
html{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

nav{
    max-width: 1120px;
    margin: auto;
    padding: 2.5rem 10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav > span{
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    font-size:2rem ;
    text-transform: uppercase;
}

.menu-head{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    color: #FFF2E780;
}



ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.github{
    color:#FFF2E7;
    font-weight: 600;
}

